* {
  box-sizing: border-box;
}

@mixin navbar{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto;
    height: 50px;
    h1{
        text-align: center;
        display: inline-block;
        justify-self: center;
        align-self: center;
        grid-column-start: 2;
        margin: 5px;
        width: 150px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: white;
    }
    h1::first-letter{
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
}

@mixin button{
    font-family: 'Ubuntu', sans-serif;
    /* btn: */
    border-radius: 20px;
    border: 2px solid #b6e9e5;
    /* Button: */
    font-size: 16px;
    letter-spacing: 0;
    outline-style: none;
}

html, body{
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #2ab6a4;
    // background-image: url("https://pixabay.com/get/ec30b90728f11c22d9584518a33219c8b66ae3d01bb3104095f4c87c/fork-558805_1920.jpg");
    // background-size: cover;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 42.5% 42.5% 15%;
    .image{
        grid-row: 1;
        grid-column: 2 / 3;
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        // align-self: end;
        // padding: 40px 20px 0px 20px;
        img{
            justify-self: end;
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }
    .random-restaurant{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        grid-row-start: 1;
        // grid-column: 2;
        // align-self: center;
        // justify-self: center;
        // max-height: 65px;
        // margin-top: 75px;
        grid-column: 1 / -1;
        height: 100%;
        width: 361.23px;
        padding: 40px 20px 0px 20px;
        margin-left: auto;
        margin-right: auto;
        p{
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            margin-top: 0px;
            margin-bottom: 5px;
            max-width: 175px;
            margin-left: auto;
            margin-right: auto;
            color: #b6e9e5;
        }
        p:first-of-type{
            margin-top: 45px;
        }
    }
}

.top-nav{
    @include navbar;
    .container{
        margin-left: 15px;
        align-self: center;
    }
    .hamburger{
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
    .add-restaurant-button{
        @include button;
        height: 25px;
        width: 150px;
        margin-right: 15px;
        align-self: center;
        justify-self: end;
        grid-column-start: 3;
        background-color: #2ab6a6;
        color: #b6e9e5;
    }
    .add-restaurant-button:hover{
        background-color: #0f594d;
        border-color: #0f594d;
    }
}

.generate-restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: end;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    z-index: 2;
    h2{
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #b6e9e5;
    }
    .generate-restaurant-button{
        @include button;
        background: #2ab5a3;
        height: 30px;
        width: 175px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        color: #b6e9e5;
        margin: 10px;
    }
    .generate-restaurant-button:hover{
        background-color: #0f594d;
        border-color: #0f594d;
    }
}


.add-restaurant{
    position: absolute;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    height: auto;
    /* Placement of self on main grid*/
    grid-column-start: 3 ;
    grid-row-start: 1;
    justify-self: end;
    margin-right: 15px;
    // margin-right: 1em 0;
    background-color: #ccefeb;
    z-index: 3;
    input{
        margin:2.5px;
        width: 150px;
        height: 25px;
        align-self: start;
        justify-self: center;
        grid-column: 1 / 2;
        padding: 2.5px;
        outline-style: none;
        border:1px solid #8cdcd4;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 12px;
    }
    .add-restaurant-name{
        grid-row-start: 1;
        margin-top: 10px;
    }
    .add-address-input{
        grid-row-start: 2;
        margin-bottom: 5px;
    }
    button{
        @include button;
        height: 25px;
        width: 150px;
        margin: 2.5px 5px 5px 2.5px;
        align-self: center;
        justify-self: center;
        grid-row-start: 3;
        background-color: #2ab6a6;
        color: #b6e9e5;
        font-weight: 300;
    }
    button:hover{
        background-color: #0f594d;
        border-color: #0f594d;
    }
}


.restaurant-list{
    display: grid;
    // background-color: #d9d9d9;
    height: 100%;
    padding-bottom: 100px;
    background-color: #4ad0b6;
    width: 250px;
    // margin-left: 15px;
    grid-template-columns: auto;
    grid-template-rows: 5(75px);
    grid-auto-rows: 75px;
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    overflow-y: auto;
    z-index: 1;
    .restaurant-info{
        margin: 5px;
        height: 50px;
        overflow: auto;
        color: #0f594d;
    }
    .restaurant-name{
        font-weight: 500;
        margin: 0px;
    }
    .restaurant-address{
        font-size: 12px;
        font-weight: 500;
        margin: 5px 0px 0px 15px;
    }
    .restaurant-and-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 75px;
        padding: 10px;
        border-bottom: 1px solid #0f594d;
    }
    .restaurant-and-buttons:hover{
        background-color: #25a48d;
    }
    .edit-delete-buttons{
        display: grid;
        grid-template-columns: 30px 30px;
        width: 60px;
        height: 30px;
        align-self: center;
        justify-self: end;
        svg{
            color: #0f594d;
            justify-self: center;
        }
        svg:hover{
            color: #ccefeb;
            font-size: 20px;
        }
    }
}

 .button{
    width: 50%;
    height: 25px;
    outline-style: none;
}

.hide{
    display: none;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

@mixin modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    .modal-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        background-color: #ccefeb;
        margin: 15% auto; /* 15% from the top and centered */
        // padding: 20px;
        // border: 1px solid #888;
        width: 40%; /* Could be more or less, depending on screen size */
        // height: 200px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        header{
            display: grid;
            width: 100%;
            grid-template-rows: auto;
            grid-template-columns: 7.5% 85% 7.5%;
            height: 50px;
            margin-bottom: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background:#2ab5a2;
            h2{
                font-family: 'Ubuntu', sans-serif;
                font-weight: 300;
                margin: 0px;
                background: #2ab5a2;
                color: #ccefeb;
                grid-row-start: 1;
                grid-column-start: 2;
                justify-self: center;
                align-self: center;
            }
            .close{
                width: 25px;
                color: #ccefeb;
                font-size: 20px;
                grid-row-start: 1;
                grid-column-start: 3;
                justify-self: end;
                align-self: start;
            }
            .close:hover,
            .close:focus {
                color: #0f594d;
                text-decoration: none;
                cursor: pointer;
            }
        }
        button{
            @include button;
            display: block;
            width: 85%;
            height: 30px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            background: #2ab5a2;
            border: 2px solid #2ab6a4;
            color: #ccefeb;
            font-weight: 300;
        }
        button:hover{
            background-color: #0f594d;
            border-color: #0f594d;
        }
        label{
            font-family: 'Ubuntu', sans-serif;
            color: #0f594d;
            font-size: 16px;
        }
        input{
            border: 1px solid #8cdcd4;
            color: #0f594d;
        }
    }
}

#delete-restaurant-modal{
    @include modal;
    p{
        font-size: 18px;
        text-align: center;
    }
}


#edit-restaurant-modal{
    @include modal;
    label{
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
    input{
        display: block;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 35px;
        align-self: center;
        justify-self: center;
        padding: 2.5px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 14px;
        outline-style: none;
    }
    input:first-of-type{
        margin-bottom: 20px;
    }
    button{
        @include button;
        display: block;
        width: 85%;
        height: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        background: #2046F2;
        color: #FFFFFF;
        font-weight: 300;
    }
}

// #delete-restaurant-modal{
//     display: none;
//     position: fixed; /* Stay in place */
//     z-index: 1; /* Sit on top */
//     left: 0;
//     top: 0;
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     overflow: auto; /* Enable scroll if needed */
//     background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }


/* Medium to large devices (phones, 610px and down) */
@media only screen and (max-width: 610px){
    main{
        .random-restaurant p{
            max-width: 155px;
        }
    }
    .restaurant-list{
        width: 100%;
        grid-column: 1 / -1;
        z-index: 2;
    }
    h2{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .generate-restaurant{
        z-index: 1;
    }
    .generate-restaurant .generate-restaurant-button{
        font-size: 14px;
        height: 30px;
        width: 190px;
    }
    .top-nav .add-restaurant-button{
        height: 20px;
        width: 110px;
        font-size: 12px;
    }
    .add-restaurant{
        margin-right: 15px;
        grid-column-start: 2;
        // grid-column-end: span 2;
        justify-self: end;
        input{
            width: 90%;
        }
        button{
            width: 90%;
        }
    }
    #edit-restaurant-modal .modal-content{
        margin: 35% auto; /* 35% from the top and centered */
        width: 90%;
    }

    #delete-restaurant-modal .modal-content{
        margin: 35% auto; /* 35% from the top and centered */
        width: 90%;
    }

}

@media only screen and (min-width: 611px) and (max-width: 720px){
    main{
        .random-restaurant p{
            max-width: 155px;
            font-size: 18px;
        }
        .random-restaurant p:first-of-type{
            margin-top: 30px;
        }
        // .random-restaurant{
        //     grid-column: 2 / -1;
        //     padding-left: 65px;
        // }
        // .tablet{
        //     grid-column: 2 / -1;
        // }
        .generate-restaurant{
            z-index: 0;
        }
    }
}

@media only screen and (max-width: 400px){
    .top-nav{
        .add-restaurant-button{
            border-radius: 10px;
            width: 30px;
            height: 25px;
            font-size: 20px;
            font-weight: 500;
            line-height: 2px;
        }
    }
    main{
        .random-restaurant{
            grid-column: 2;
            width: 100%;
            p{
                width: 60%;
                font-size: 13px;
            }
            p:first-of-type{
                margin-top: 10px;
            }
        }
    }
}
