.top-nav {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  height: 75px; }
  .top-nav h1 {
    display: inline-block;
    justify-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    grid-column-start: 2;
    margin: 5px;
    width: 150px; }
  .top-nav button {
    height: 25px;
    width: 100px;
    border-radius: 15px;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
    grid-column-start: 3; }

#sign-up-modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  #sign-up-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */ }

html, body {
  height: 100%;
  margin: 0px; }

main {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: auto auto auto;
  height: 100%; }
  main p {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
  main form {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
