.top-nav {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  height: 75px; }
  .top-nav h1 {
    display: inline-block;
    justify-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    grid-column-start: 2;
    margin: 5px;
    width: 150px;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  .top-nav h1::first-letter {
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  .top-nav button {
    font-family: 'Ubuntu', sans-serif;
    /* btn: */
    border-radius: 20px;
    border-color: #2046F2;
    /* Button: */
    font-size: 16px;
    letter-spacing: 0;
    height: 30px;
    width: 110px;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
    grid-column-start: 3;
    color: #2046F2; }

#sign-up-modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  #sign-up-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */ }

html, body {
  height: 100%;
  margin: 0px; }

main {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: auto;
  height: 100%; }
  main section {
    grid-column-start: 2;
    justify-self: center;
    -ms-flex-item-align: end;
    align-self: end;
    margin-top: 10px;
    margin-bottom: 50px; }
    main section p:first-child {
      font-size: 33px;
      font-weight: 500; }
    main section p {
      font-family: 'Ubuntu', sans-serif;
      text-align: center; }
  main form {
    grid-column-start: 2;
    justify-self: center;
    -ms-flex-item-align: start;
    align-self: start; }
    main form button {
      font-family: 'Ubuntu', sans-serif;
      /* btn: */
      border-radius: 20px;
      border-color: #2046F2;
      /* Button: */
      font-size: 16px;
      letter-spacing: 0;
      background: #2046F2;
      height: 30px;
      width: 110px;
      font-family: 'Ubuntu', sans-serif;
      color: #FFFFFF;
      margin: 10px; }

input.username, input.password {
  /* input: */
  border: 1px solid #9E9E9E;
  border-radius: 3px;
  width: 250px;
  padding: 5px 5px 5px 7px;
  margin: 10px;
  /* Your Name: */
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #9E9E9E;
  letter-spacing: 0; }
