* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0px; }

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: 33.33% 33.33% 33.33%; }
  main .random-restaurant {
    grid-row-start: 1;
    grid-column: 3;
    -ms-flex-item-align: end;
    align-self: end;
    justify-self: center; }
    main .random-restaurant p {
      text-align: center;
      font-weight: 500;
      font-size: 20px; }

.top-nav {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  height: 50px; }
  .top-nav h1 {
    text-align: center;
    display: inline-block;
    justify-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    grid-column-start: 2;
    margin: 5px;
    width: 150px;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  .top-nav h1::first-letter {
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  .top-nav .container {
    margin-left: 15px;
    -ms-flex-item-align: center;
    align-self: center; }
  .top-nav .hamburger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0; }
  .top-nav .add-restaurant-button {
    font-family: 'Ubuntu', sans-serif;
    /* btn: */
    border-radius: 20px;
    border-color: #2046F2;
    /* Button: */
    font-size: 16px;
    letter-spacing: 0;
    outline-style: none;
    height: 25px;
    width: 150px;
    margin-right: 15px;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: end;
    grid-column-start: 3;
    color: #2046F2; }

.generate-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-self: center;
  -ms-flex-item-align: end;
  align-self: end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 150px;
  width: 300px; }
  .generate-restaurant h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  .generate-restaurant .generate-restaurant-button {
    font-family: 'Ubuntu', sans-serif;
    /* btn: */
    border-radius: 20px;
    border-color: #2046F2;
    /* Button: */
    font-size: 16px;
    letter-spacing: 0;
    outline-style: none;
    background: #2046F2;
    height: 30px;
    width: 175px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    margin: 10px; }
  .generate-restaurant .generate-restaurant-button:hover {
    background-color: black;
    border-color: black; }

.add-restaurant {
  display: grid;
  grid-template-rows: 30px 30px 30px;
  grid-template-columns: auto;
  height: 90px;
  /* Placement of self on main grid*/
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: end;
  margin-right: 15px;
  background-color: #e6e6e6; }
  .add-restaurant input {
    margin: 2.5px 5px 5px 2.5px;
    width: 150px;
    height: 25px;
    -ms-flex-item-align: start;
    align-self: start;
    justify-self: center;
    grid-column: 1 / 2;
    padding: 2.5px;
    outline-style: none; }
  .add-restaurant .add-restaurant-name {
    grid-row-start: 1; }
  .add-restaurant .add-address-input {
    grid-row-start: 2; }
  .add-restaurant button {
    font-family: 'Ubuntu', sans-serif;
    /* btn: */
    border-radius: 20px;
    border-color: #2046F2;
    /* Button: */
    font-size: 16px;
    letter-spacing: 0;
    outline-style: none;
    height: 25px;
    width: 150px;
    margin: 2.5px 5px 5px 2.5px;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
    grid-row-start: 3;
    background: #2046F2;
    color: #FFFFFF;
    font-weight: 300; }

.restaurant-list {
  display: grid;
  height: 100%;
  width: 300px;
  grid-template-columns: auto;
  grid-row: 1 / -1;
  overflow-y: auto; }
  .restaurant-list .restaurant-name {
    font-weight: 500;
    margin: 0px; }
  .restaurant-list .restaurant-address {
    font-size: 12px;
    margin: 5px 0px 0px 15px; }
  .restaurant-list .restaurant-and-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black; }
  .restaurant-list .restaurant-and-buttons:hover {
    background-color: #d9d9d9; }
  .restaurant-list .edit-delete-buttons {
    display: grid;
    grid-template-columns: 50px 50px;
    width: 100px;
    height: 30px;
    align-self: center;
    justify-self: end; }
    .restaurant-list .edit-delete-buttons svg {
      justify-self: center; }
    .restaurant-list .edit-delete-buttons svg:hover {
      color: #2046F2;
      font-size: 20px; }

.button {
  width: 50%;
  height: 25px;
  outline-style: none; }

.hide {
  display: none; }

.restaurant-info {
  margin: 5px; }

p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300; }

#delete-restaurant-modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */ }
  #delete-restaurant-modal .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    width: 35%;
    /* Could be more or less, depending on screen size */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300; }
    #delete-restaurant-modal .modal-content header {
      display: grid;
      width: 100%;
      grid-template-rows: auto;
      grid-template-columns: 7.5% 85% 7.5%;
      height: 50px;
      margin-bottom: 50px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #2046F2; }
      #delete-restaurant-modal .modal-content header h2 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        margin: 0px;
        background: #2046F2;
        color: #FFFFFF;
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: center;
        -ms-flex-item-align: center;
        align-self: center; }
      #delete-restaurant-modal .modal-content header .close {
        width: 25px;
        color: #FFFFFF;
        font-size: 20px;
        grid-row-start: 1;
        grid-column-start: 3; }
      #delete-restaurant-modal .modal-content header .close:hover,
      #delete-restaurant-modal .modal-content header .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer; }
    #delete-restaurant-modal .modal-content button {
      font-family: 'Ubuntu', sans-serif;
      /* btn: */
      border-radius: 20px;
      border-color: #2046F2;
      /* Button: */
      font-size: 16px;
      letter-spacing: 0;
      outline-style: none;
      display: block;
      width: 250px;
      height: 30px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      background: #2046F2;
      color: #FFFFFF;
      font-weight: 300; }
    #delete-restaurant-modal .modal-content button:hover {
      background-color: black;
      border-color: black; }
  #delete-restaurant-modal p {
    text-align: center; }

#edit-restaurant-modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */ }
  #edit-restaurant-modal .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    width: 35%;
    /* Could be more or less, depending on screen size */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300; }
    #edit-restaurant-modal .modal-content header {
      display: grid;
      width: 100%;
      grid-template-rows: auto;
      grid-template-columns: 7.5% 85% 7.5%;
      height: 50px;
      margin-bottom: 50px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #2046F2; }
      #edit-restaurant-modal .modal-content header h2 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        margin: 0px;
        background: #2046F2;
        color: #FFFFFF;
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: center;
        -ms-flex-item-align: center;
        align-self: center; }
      #edit-restaurant-modal .modal-content header .close {
        width: 25px;
        color: #FFFFFF;
        font-size: 20px;
        grid-row-start: 1;
        grid-column-start: 3; }
      #edit-restaurant-modal .modal-content header .close:hover,
      #edit-restaurant-modal .modal-content header .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer; }
    #edit-restaurant-modal .modal-content button {
      font-family: 'Ubuntu', sans-serif;
      /* btn: */
      border-radius: 20px;
      border-color: #2046F2;
      /* Button: */
      font-size: 16px;
      letter-spacing: 0;
      outline-style: none;
      display: block;
      width: 250px;
      height: 30px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      background: #2046F2;
      color: #FFFFFF;
      font-weight: 300; }
    #edit-restaurant-modal .modal-content button:hover {
      background-color: black;
      border-color: black; }
  #edit-restaurant-modal label {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px; }
  #edit-restaurant-modal input {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 35px;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
    padding: 2.5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    outline-style: none; }
  #edit-restaurant-modal input:first-of-type {
    margin-bottom: 20px; }
  #edit-restaurant-modal button {
    font-family: 'Ubuntu', sans-serif;
    /* btn: */
    border-radius: 20px;
    border-color: #2046F2;
    /* Button: */
    font-size: 16px;
    letter-spacing: 0;
    outline-style: none;
    display: block;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background: #2046F2;
    color: #FFFFFF;
    font-weight: 300; }
